<main>
  <div>
    <h1 class="title">Frog Tasks!</h1>
  </div>
  
</main>


@if (!loggedin) {
  
  @if (showLoginPage) {
    <form [formGroup]="loginForm" class="place-self-center" (ngSubmit)="handleLogin()">
      Username: <input type="text" class="border rounded-sm mb-1 px-1" formControlName="username" required><br>
      Password: <input type="password" class="border rounded-sm mb-1 px-1" formControlName="password" required><br>
      <button type="submit" class="frogButton1 mr-1">Log In</button>
      <button class="frogButton1" (click)="showLoginPage = false">Sign Up Instead</button>
    </form>
  } 
  @else {
    <form [formGroup]="signupForm" class="place-self-center" (ngSubmit)="handleSignup()">
      Username: <input type="text" class="border rounded-sm mb-1 px-1" formControlName="username" required><br>
      Password: <input type="password" class="border rounded-sm mb-1 px-1" formControlName="password" required><br>
      Confirm Password: <input type="password" class="border rounded-sm mb-1 px-1" formControlName="confirmPassword" required><br>
      <button type="submit" class="frogButton1 mr-1">Sign Up</button>
      <button class="frogButton1" (click)="showLoginPage = true">Log In Instead</button>
    </form>
  }
  
  



}
@else {
  @if (showCollectionPage) {
    @if (user!.longestLivingTask.creationDate != 0) {
      <span class="text-lg">Longest Living Frog Task: </span><span (click)="showLLFTDescription = !showLLFTDescription">"{{ user!.longestLivingTask.name }}" <span class="text-xs">(click for more info)</span></span>
      @if (showLLFTDescription) {
        <div class="indent-8">
          Description: "{{user!.longestLivingTask.description}}"<br>
        </div>
        <div class="indent-8">
          It took you {{ user!.longestLivingTaskTime | timefmt }} to complete this task!
        </div>
      }
    }
  
    @else {
      You haven't completed any tasks :(
    }
    <div class="text-lg">Total Number of Tasks: {{ user!.totalNumTasks }}</div>
      @if (totalTaskRank == 0) {
        <div class="indent-8">Congratulations, you're the top user!</div>
      } 
      @else {
        <div class="indent-8">You're in the top {{ totalTaskRank }}% of users!</div>
      }
    <div class="text-lg">Total Number of Tasks Completed: {{ user!.totalNumTasks - user!.tasks.length }}</div>
      @if (totalTaskCompletedRank == 0) {
        <div class="indent-8">Congratulations, you're the top user!</div>
      } 
      @else {
        <div class="indent-8">You're in the top {{ totalTaskCompletedRank }}% of users!</div>
      }
      <div class="bottom-bar">
        <button class="frogButton1" (click)="showCollectionPage = false">Back to Tasks</button>
      </div>
      
  } 
  @else {

    <!-- <div [innerHtml]="tasksToHTML()"></div> -->
  <div id="taskpanel">
      @for (task of tasks; track task.description; let i = $index) {
        <div class="frogs">
          @if (task.size == "large") {
              <img src="/assets/images/largefrog.png" width="60" (click)="removeTask(i)" class="frogButton2" alt="largefrog "/>
          } 
          @else if (task.size == "medium") {
              <img src="/assets/images/mediumfrog.png" width="60" (click)="removeTask(i)" class="frogButton2" alt="mediumfrog"/>
          }
          @else if (task.size == "small") {
              <img src="/assets/images/smallfrog.png" width="60" (click)="removeTask(i)" class="frogButton2" alt="smallfrog"/>
          }
          {{ task.description }}
          
        </div>
        

        
      }
  </div>

  




  <div class="bottom-bar">
    Task count: {{ tasks.length }}
    @if (!taskFieldRequested) {
      <button (click)="addTask()" class="frogButton1">Add a Task!</button>
      <button class="frogButton1" (click)="showCollection()">Visit Collection</button>
      <button class="frogButton1" (click)="handleLogout()">Log Out</button>
    }
    @if (taskFieldRequested) {
      <button (click)="addTask()" class="frogButton1">Hide</button>
      <form [formGroup]="frogForm" id="addFrogForm" (ngSubmit)="handleSubmit()">
        
        Task: <input type="text" formControlName="task" class="border rounded-sm mb-1 px-1" required/><br>

        Name your frog! (optional) <input type="text" formControlName="frogName" class="border rounded-sm mb-1 px-1" /><br> 

        Give your frog a size! (optional)
        <select formControlName="frogSize" class="border rounded-sm mb-2" >
          <option value="small">Small</option>
          <option value="medium">Medium</option>
          <option value="large">Large</option>
          
        </select>
        <br>

        <button type="submit" class="frogButton1" [disabled]="!frogForm.valid">Submit</button>
      </form>
    }

  </div>

  }
  

}


<router-outlet/>
